.reply{
  margin: 1rem auto;
  width: 100%;
  .replyCount{
    background: #f6f6f6;
    height: 2rem;
    line-height:2rem;
    padding-left: 1rem;
  }
  .replyContent{
    padding:0 1rem;
    .author{
      margin:1rem 0;
      img{
        width:2rem;
        height:2rem;
      }
    }
  }

}